<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>

<head>
    <meta charset="utf-8" /> {% block meta %}
    <!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}
    <!-- before head  -->{% endblock %}
</head>

<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Awesome Python Webapp</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 日志</a></li>
                <!--这里放后台管理的连接方便测试-->
                <li><a href="http://13.112.38.6/manage/blogs"><i class="uk-icon-book"></i> 博文管理</a></li>
                <li><a href="http://13.112.38.6/manage/users"><i class="uk-icon-book"></i> 用户管理</a></li>
                <li><a href="http://13.112.38.6/manage/comments"><i class="uk-icon-book"></i> 评论管理</a></li>
                <li><a target="_blank" href="https://github.com/zhouxinkai/awesome-python3-webapp"><i class="uk-icon-code"></i> <strong>源码</strong></a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %} {% endblock %}
            <!-- // content -->
        </div>
    </div>
    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="about:blank" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/zhouxinkai" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="about:blank" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="about:blank" class="uk-icon-button uk-icon-twitter"></a>
                </p>
                <p>Powered by <a href="http://brucezhou.com" target="_blank">bruce zhou</a>. Copyright &copy; 2016. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="http://www.brucezhou.com/" target="_blank">http://www.brucezhou.com/</a>. All rights reserved.</p>
                <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
            </div>
        </div>
    </div>
</body>

</html>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-67984777-5', 'auto');

function gaSend(action) {
    ga('send', 'event', 'sae_cn_website', action);
}
gaSend('open_homepage');
</script>
